* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
}
hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.container {
  position: absolute;
  top: 12%;
  left: 30%;
  width: 40%;
  /* max-height: 500px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
}
.container > p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}
.form > input {
  height: 50px;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(172, 172, 172);
  outline: none;
}
input[type="text"]:focus {
  border: 3px solid #e40046;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input[type="password"]:focus {
  border: 3px solid #e40046;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input[type="email"]:focus {
  border: 3px solid #e40046;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form > button {
  height: 50px;
  font-size: 14px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  border: none;
  background-color: #e40046;
  color: white;
  cursor: pointer;
}
#temp {
  font-size: 16px;
  font-weight: bold;
  color: rgb(81, 81, 81);
}
#signin {
  color: #e40046;
}
a {
  text-decoration: none;
  color: inherit;
}
