* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
}
.flex {
  display: flex;
}
.toggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  height: 21px;
}
.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.top-container {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  background-color: #cc003d;
  color: white;
  justify-content: space-between;
  padding: 8px 50px;
  width: 100%;
}
.li-container {
  display: flex;
  list-style: none;
}
.li-container > li {
  margin-right: 20px;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #e40046;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  margin: auto;
  align-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  width: 20%;
}
.logo > img {
  width: 180px;
  height: 50px;
  cursor: pointer;
}
.search {
  width: 53.33%;
}
.search > input {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}
.search > button {
  width: 15%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  background: #333;
  color: white;
  cursor: pointer;
}

.cart {
  justify-content: space-evenly;
  width: 25%;
  margin: auto;
  color: white;
}
.cart h3 {
  cursor: pointer;
}
.menu-container {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* display: inline-block; */
  margin-top: 30px;
  width: 71%;
  padding: 20px 0 20px 10px;
  margin-left: 50px;
  background-color: white;
}
.content {
  padding: 6px;
  overflow: hidden;
  position: static;
  white-space: nowrap;
  word-wrap: break-word;
  color: #666;
  text-overflow: ellipsis;
}
.top-category > ul > li {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
}
.top-category > ul > li:hover {
  background-color: transparent;
  border-left: 3px solid #e40046;
  border-top: 1px solid rgb(199, 198, 198);
  border-right: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(181, 181, 181);
}
.li-tab:hover .display-block {
  display: block;
}
.top-category > ul > li > a {
  text-decoration: none;
}

/* .sec div{
    display: inline-block;
} */
.container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  background-color: white;
}
.container1 > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-row-start: 1;
    grid-row-end: 3; */
  /* width: 35%; */
}
.container1 > div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 5;
  /* grid-row-start: 1;
    grid-row-end: 2; */
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 15px 0 0 15px;
  width: 92%;
  max-height: 380px;
}
.container1 > div:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 5;
}
.title {
  grid-column-start: 2;
  grid-column-end: 5;
}
.carousol > img {
  width: 100%;
  max-height: 300px;
}
.content-tab {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.content-tab > div {
  padding: 22px 16px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  color: #666;
  background-color: white;
}
.active {
  border-bottom: 3px solid #333;
}
.products {
  margin-top: -280px;
  display: flex;
  width: 90%;
}
.cards {
  width: 25%;
  padding: 20px;
}
.cards:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
}
.image > img {
  width: 100%;
}
.desc {
  color: #999;
  margin-top: 15px;
}
.checked {
  color: orange;
}
.desc > div {
  margin-bottom: 10px;
}
.price {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.price > div > span:nth-child(1) {
  color: #ccc;
  text-decoration: line-through;
}
.price > div > span:nth-child(2) {
  color: #333;
}
.discount {
  padding: 4px;
  border: 1px solid #ccc;
}
.bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  box-sizing: border-box;
}
.bottom > div {
  width: 45%;
}
.bottom > div > img {
  width: 95%;
  padding: 15px;
}
.bottom > div:nth-child(2) {
  padding: 30px;
  margin-top: 100px;
}
.bottom > div:nth-child(2) > h1 {
  margin: 10px 0 20px 0;
}
.bottom > div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.bottom > div > div > img {
  max-width: 43%;
}
.payment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 200px);
  margin: auto;
  width: 90%;
  background-color: white;
}
.payment > div {
  margin: auto;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  padding-top: 40px;
  cursor: pointer;
}

.payment > div > img {
  width: 50px;
  max-height: 80px;
  margin-bottom: 20px;
}
.payment > div > p:nth-of-type(1) {
  font-family: "font-bold";
  font-size: 18px;
  color: #5a5a5a;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.payment > div > p:nth-of-type(2) {
  font-size: 14px;
  color: #a4a3a3;
}
.payment > div > p:nth-of-type(3) {
  font-size: 14px;
  color: #a4a3a3;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 40px;
  background-color: white;
  width: 100%;
}
.about > div {
  width: 16%;
}
.about > div > p:nth-of-type(1) {
  font-family: "font-bold";
  font-size: 16px;
  color: #323232;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.p-details {
  color: #777;
}
.social {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.social > div {
  width: 40%;
}
.social > div > p {
  color: #344c55;
  text-align: left;
  font-size: 18px;
  padding-bottom: 15px;
}
.social > div > img {
  padding-right: 10px;
}
.text {
  padding: 40px 70px;
  width: 100%;
  color: #777;
}
.display-block {
  display: none;
}
.container-tab {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 20px;
  line-height: 20px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 20%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.container-tab > div {
  margin: 10px;
}
.container-tab > div > div {
  padding-bottom: 10px;
}
.container-tab > div > div > p:nth-of-type(1) {
  padding-bottom: 10px;
  font-family: "font-bold";
  font-size: 14px;
  color: #323232;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.left-content {
  width: 33%;
}
.middle-content {
  width: 33%;
}
.right-content {
  width: 33%;
}
.horizontal {
  height: 1px;
  width: 70%;
  border-top: 1px solid #cacaca;
}
.sub-text {
  color: #777;
}
/* test */
